h1{
    text-align: center;
    color: rgb(26, 11, 80);
    margin-top: 10px;
}
.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  .id2{
    background: linear-gradient(75deg,rgb(112, 114, 0),rgb(155, 0, 155));
}
  footer{
      text-align: center;
      font-size: 15px;
      color: rgb(191, 7, 247);
      background-color: rgb(68, 255, 10);
      margin-top: 50px;
  }